
.head {
    height: 100px;
    width: 100px;
}
.middle {
    height: 100px;
    width: 100px;
}
.bottom {
    height: 100px;
    width: 100px;
}
.pic-container {
    display: flex;
    flex-direction: column;
    float: center;
    margin-left: 100px;
}

body {
    background-color: beige;
}

label {
    color: brown;
    font-weight: 700;
    margin-right: 5px;
}
select {
    margin-left: 5px;
}
input {
    margin-left: 5px;
}