
.head {
    height: 100px;
    width: 100px;
}
.middle {
    height: 100px;
    width: 100px;
}
.bottom {
    height: 100px;
    width: 100px;
}
.pic-container {
    display: flex;
    flex-direction: column;
    float: center;
}